# Executáveis
*.exe
**/*.exe
main.exe
/main.exe
main

# Arquivos objeto e bibliotecas
*.o
*.a
*.lib
#*.dll

# Arquivos temporários
*.tmp
*.temp

# Diretórios
/build/
/debug/
/release/

# Arquivos específicos da IDE
.vscode/
**/.vscode/
.vs/
*.sln
*.vcxproj
*.vcxproj.filters